<nav class="navbar bg-none">
    <form class="container-fluid justify-content-end" action="/logout">
        <button class="btn btn-outline-light me-2" type="submit">Logout</button>
    </form>
</nav>

<div class="container text-center mt-5">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="/assets/mongodb1.webp" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">MongoDB</h5>
                    <p class="card-text">  A NoSQL database for flexible, scalable document-based data storage.</p>
                    <a href="#" class="btn btn-primary">More</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="/assets/express.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Express</h5>
                    <p class="card-text">A minimal and flexible framework for building web applications with Node.js.</p>
                    <a href="#" class="btn btn-primary">More</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="/assets/angular.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Angular</h5>
                    <p class="card-text">A platform and framework for building dynamic, single-page web applications.</p>
                    <a href="#" class="btn btn-primary">More</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="/assets/nodejs2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Node</h5>
                    <p class="card-text"> A runtime for building scalable server-side applications with JavaScript.</p>
                    <a href="#" class="btn btn-primary">More</a>
                </div>
            </div>
        </div>
    </div>
</div>