<div class="demo-container">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12 mx-auto hi">
                <div class="p-5 bg-white rounded shadow-lg">

                    <h2 class="mb-2 text-center">Sign Up</h2>
                    <p class="text-center lead">Enter your details to sign Up.</p>

                    {{!-------------- form ----------}}
                    <form>
                        <label class="font-500">Username</label>
                        {{!-- ---name="username"-- --}}
                        <input id="username" name="username" class="form-control form-control-lg mb-3" type="text">
                        <label class="font-500">Password</label>
                        {{!-- ---name="password"-- --}}
                        <input id="password" name="password" class="form-control form-control-lg" type="password">

                        <label class="font-500">Confirm Password</label>
                        {{!-- ---name="confirmPassword"-- --}}
                        <input id="confirmPassword" name="confirmPassword" class="form-control form-control-lg"
                            type="password">

                        <p class="m-0 py-4"><a href="" class="text-muted">Forget password?</a></p>
                        <button type="submit" class="btn btn-success btn-lg w-100 shadow-lg">SIGN UP</button>
                    </form>
                    {{!--------------end form ----------}}
                    <div class="text-center pt-4">
                        <p class="m-0">Already have an account? <a href="" class="text-dark font-weight-bold">Sign In</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    console.log('jjjjj')
    document.addEventListener('DOMContentLoaded', () => {
        document.querySelector('form').addEventListener('submit',formValidate);
    })
    function formValidate(e) {
        console.log('jkdfnk')
        e.preventDefault();
        const username = document.getElementById('username').value;
        const password = document.getElementById('password').value;
        const confirmPassword = document.getElementById('confirmPassword').value;

        if (username == '' || password == '' || confirmPassword == '') {

            swal.fire('All fields are required');
            return false;
        } else if (password != confirmPassword) {

            Swal.fire({
                title: "Password are not match",
                //text: "You clicked the button!",
                icon: "error"
            });
            //swal.fire('Password are not match');
            return false;
        } 
        //else {
        //    Swal.fire(
        //        title: "Success",
        //        text: "form sumitted",
        //        icon: "succuss"
        //    )
        //}
        e.target.submit();
        return true; 
    }


</script>