<div class="demo-container">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12 mx-auto hi">
                <div class="p-5 bg-white rounded shadow-lg">
                    
                    <h2 class="mb-2 text-center">Sign Up</h2>
                    <p class="text-center lead">Enter your details to sign Up.</p>
                    
                    {{!-------------- form ----------}}
                    <form action="/verify" method="post">
                        <label class="font-500">Username</label>
                        {{!-- ---name="username"-- --}}
                        <input name="username" class="form-control form-control-lg mb-3" type="text">
                        <label class="font-500">Password</label>
                        {{!-- ---name="password"-- --}}
                        <input name="password" class="form-control form-control-lg" type="password">
                        
                        <label class="font-500">Confirm Password</label>
                        {{!-- ---name="confirmPassword"-- --}}
                        <input name="confirmPassword" class="form-control form-control-lg" type="password">

                        <p class="m-0 py-4"><a href="" class="text-muted">Forget password?</a></p>
                        <button type="submit" class="btn btn-success btn-lg w-100 shadow-lg">SIGN IN</button>
                    </form>
                    {{!--------------end form ----------}}
                    <div class="text-center pt-4">
                        <p class="m-0">Do not have an account? <a href="" class="text-dark font-weight-bold">Sign Up</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>