@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
	html, body {
		height: 100%;
		overflow: auto;
	}
	body {
		font-family: 'Roboto', sans-serif;
	   background-color: #4158D0;
       background-image: linear-gradient(43deg, #040d39 0%, #26595cc9 46%, #256235 100%);
       /* background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%); */
	}
	.demo-container {
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.btn-lg {
		padding: 12px 26px;
		font-size: 14px;
		font-weight: 700;
		letter-spacing: 1px;
		text-transform: uppercase;
	}
	::placeholder {
	font-size:14px;
	letter-spacing:0.5px;
	}
	.form-control-lg {
		font-size: 16px;
		padding: 25px 20px;
	}
	.font-500{
	font-weight:500;	
	}

    .card-img-top {
        width: 100%;
        height: 200px;
        object-fit: cover; 
      }
      /* .hi{
		box-shadow: #102d0470 9px 10px 15px 0px;
	  } */
      .card-img-top {
        width: 100%;
        height: 200px;
        object-fit: cover; 
      }

	  .adminLogin {
 
		font-family: 'Roboto', sans-serif;

	   background-image: linear-gradient(43deg, #a82828 0%, #000000fa 46%, #982727 100%);
	}